body {
 margin: 0;
 background-color: #A657FF;

}
.portada {
   height: 611px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #7A1DCC;
   box-shadow: 5px 5px 20px rgb(103, 23, 168);
   border:  #5A1796 solid 15px;
   
}
.btn {
    background-color: #691AB0;
    padding: 28px  50px 28px 50px;
    border-radius: 10px 0 10px 0;
    border: solid #57158F 8px;
    color: #A856F0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
   transition: 0.6s;

}
.btn:hover{
   color: #B573F0 ;
   background-color:  #8E28ED;
   border: solid #6E0DBD 8px;


}
#historia {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 350px;
}
html {
   scroll-behavior: smooth;
}
.titulo {
    font-family: "Bungee", sans-serif;
    color: #C482FF;
    background-color: #9625F7;
    padding: 30px 150px 30px 150px;
    margin: 60px;
    border-radius: 15px;
    border: solid #5A1796   5px;
    letter-spacing: 6px;
    font-size: 60px;
    box-shadow: 5px 5px 10px #4f1996;
}
.gatoflorimg {
   position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(500px, -134px);
    
   

}
.subtitulo {
    font-family: "Bungee", sans-serif;
    color: #682CAB;
    margin-bottom: 50px;
    background-color: #C18AFF;
    padding: 15px;
    border-radius: 20px 20px 0 0;
}

.galeria {
    display: grid;
    gap: 40px;
    width: 80%;
    
}

.item {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #C18AFF;
    padding: 17px ;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    transition: 0.4s;
}

.item:hover {
    transform: scale(1.02);
}

.item img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    border:  #8966B3 solid;
   box-shadow: 2px 2px 20px;
}

.texto {
    font-family: "Josefin Sans", sans-serif;
}

.texto h3 {
    margin: 0;
    color: #682CAB;
}

.texto p {
    margin-top: 10px;
    font-size: 18px;
}
.ultimotext {
    font-family: "Josefin Sans", sans-serif;
    color: #612972;
    


}
.gato2 {
  position: absolute;
  width: 200px;
  height: 200px;
 transform: translate(-15px, -1010px);
 transition: 0.3s;
}
.gato2:hover {
width: 220px;
  height: 220px;
     
}
.gato3 {
   position: absolute;
  width: 200px;
  height: 200px;
 transform: translate(1157px, -700px);
  transition: 0.3s;

}
.gato3:hover {
width: 220px;
  height: 220px;
}
.gato4 {
   position: absolute;
  width: 150px;
  height: 130px;
 transform: translate(1px, -500px);
  transition: 0.3s;

}
.gato4:hover {
width: 170px;
  height: 150px;
}
.gato5 {
   position: absolute;
  width: 150px;
  height: 130px;
 transform: translate(1200px, 150px);
  transition: 0.3s;

}
.gato5:hover {
width: 170px;
  height: 150px;
}